:host {
  .content {
    display: flex;
    flex-direction: column;
  }

  cdk-virtual-scroll-viewport {
    height: 400px;
    margin: 10px;

    mat-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;

      div:first-of-type {
        width: 10%;
      }
      
      div:nth-of-type(2) {
        width: 20%;
      }

      div:nth-of-type(3) {
        width: 20%;
      }

      div:last-of-type {
        width: 25%;
      }
    }

    mat-card:first-of-type {
      background-color: grey;
    }

    mat-card:nth-of-type(n+1) {
      .pills span{
        background-color: red;
        border-radius: 10px;
        padding: 5px;
      }
    }
    
    mat-card:nth-of-type(2n+1) {
      .pills span{
        background-color: yellow;
        border-radius: 10px;
        padding: 5px;
      }
    }

    mat-card:nth-of-type(3n+1) {
      .pills span{
        background-color: goldenrod;
        border-radius: 10px;
        padding: 5px;
      }
    }
  }

  svg {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}
}